{% extends 'base.html' %}
	
{% block content %}
<h1>My Posts</h1>
	{% for post in posts %}
		<h2>{{ post.title }}</h2>
		<small>Published on {{ post.published_at | date:"M d, Y" }} by {{ post.author | title}}</small>
		<p>{{ post.content }}</p>
		<p><a href="{% url 'post-edit' post.id %}">Edit</a></p>
	{% endfor %}

	<h1>My Employees</h1>
	{% for employee in employees %}
		<h2>{{ employee.name }}</h2>
		<p>{{ employee.position }}</p>
		<p>{{ employee.salary }}</p>
	{% endfor %}
	<h1>My Students</h1>
	{% for student in students %}
		<h2>{{ student.name }}</h2>
		<p>Age: {{ student.age }}</p>
		<p>Grade: {{ student.grade }}</p>
		<p>Email: {{ student.email }}</p>
	{% endfor %}
{% endblock content %}